src/main/mule/invoke-soap.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
    <sub-flow name="soap-invoke-via-http-request-subflow" doc:id="53d4544f-306f-49e5-845c-5f87e79f085d" >
		<http:request method="POST" doc:name="Request" doc:id="aae44853-29c0-4f55-a99d-47b27710e18a" config-ref="HTTP_Request_SOAP_API" url="https://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "text/xml"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="e098608a-d619-4466-a976-612cfb472710" message="Response from Payload: #[payload]" />
	</sub-flow>
	<sub-flow name="soap-invoke-via-consume-wsc-subflow" doc:id="ee6ed73c-e259-4492-b284-c989ecf336a2" >
		<ee:transform doc:name="Transform Message" doc:id="bed7e0ae-f4be-48a1-9ff0-98cd562b46ec">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ndf https://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl
ns env http://schemas.xmlsoap.org/soap/envelope/
---
{
	ndf#LatLonListZipCode : payload.env#Envelope.env#Body.ndf#LatLonListZipCode
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="730995af-eb39-42f8-98b5-e244868b4665" config-ref="Web_Service_Consumer_Config" operation="LatLonListZipCode" />
		<logger level="INFO" doc:name="Logger" doc:id="c2e6f626-33c3-4359-b60a-b178fe80d9dc" message="Response from Payload: #[payload]" />
	</sub-flow>
	<flow name="soap-invoke-subflowsFlow" doc:id="3f4379b6-ae85-4014-a29c-95ecbdff6466" >
		<http:listener doc:name="/soap-via-http" doc:id="14ac5344-2e02-4699-a404-718bd8b4de15" config-ref="api-httpListenerConfig" path="/soap-via-http"/>
		<flow-ref doc:name="soap-invoke-via-http-request-subflow" doc:id="48bfb338-38d1-4e2a-901e-ca81632b98b7" name="soap-invoke-via-http-request-subflow"/>
	</flow>
	<flow name="soap-invoke-subflowsFlow1" doc:id="43badb26-4134-4b49-a2fa-d18f1c582955" >
		<http:listener doc:name="/soap-via-consume" doc:id="cdcea17f-a1fe-49ad-8a3e-a57546d46ec8" config-ref="api-httpListenerConfig" path="/soap-via-consume"/>
		<flow-ref doc:name="soap-invoke-via-consume-wsc-subflow" doc:id="fc67061f-1eea-4454-899e-8f12013547df" name="soap-invoke-via-consume-wsc-subflow"/>
	</flow>

</mule>
